:root {
  --blue-color: rgb(33, 150, 243);
  --blak-color: rgb(0, 0, 0);
  --grey-color: rgb(117, 117, 117);
  --white-color: rgb(255, 255, 255);
  --address-color: rgba(255, 255, 255, 0.6);
  --next-blak-color: rgb(33, 33, 33);
  --grey-regular-customers-color: rgb(175, 177, 184);
  --join-bgc: rgba(255, 255, 255, 0.1);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px dotted orangered;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--blak-color);
  line-height: (24 / 16);
}
/* header */
.header-Studio {
  color: var(--blak-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-icon {
  fill: var(--grey-color);
}
.header-nav-link {
  color: var(--blak-color);
}
.header-contact-link {
  padding: 15px 0;
  color: var(--grey-color);
  font-weight: 500;
}
.header-contact-item:is(:hover, :focus) .contact-icon {
  fill: var(--blue-color);
}

.item {
  color: var(--blue-color);
}
.header-nav-item {
  font-weight: 500;
  line-height: (16 / 14);
}
.contact-item {
  font-weight: 500;
  line-height: 16px;
  color: var(--blue-color);
}
.contact-item2 {
  font-weight: 500;
  line-height: 16px;
  color: var(--grey-color);
}
/* hero */
.hero-title {
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  width: 696px;
  margin: 0 auto;
}
.hero {
  background: rgb(47, 48, 58);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.button-hero-title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  background-color: rgb(33, 150, 243);
}
.advantages-item-title {
  font-weight: 700;
  line-height: 16px;
}
.advantages-item-text {
  color: var(--grey-color);
  font-weight: 400;
  line-height: 24px;
}
/* developmerts */
.developments-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
.developments-item-wrapp {
  position: relative;
}
.developments-img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white-color);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ourteam */
.ourteam-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
.ourteam {
  background-color: rgb(245, 244, 250);
  width: 1600px;
  height: 648px;
  margin: 0 auto;
}
.signature-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.signature-text {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer-contact1 {
  font-weight: 400;
  line-height: 24px;
  color: var(--white-color);
}
.footer-contact {
  padding-top: 20px;
  padding-right: 70px;
}
.footer-contact2 {
  color: var(--address-color);
  font-weight: 400;
  line-height: 24px;
}
.footer {
  background-color: rgb(47, 48, 58);
  width: 1600px;
  height: 252px;
  margin: 0 auto;
}
.footer-flex {
  display: flex;
}

.footer-Web {
  color: var(--blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.header-Web {
  color: var(--blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.content-item1 {
  font-weight: 500;
  line-height: 16px;
}
.content-item2 {
  color: var(--blue-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item3 {
  color: var(--next-blak-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item4 {
  color: var(--blue-color);
  font-weight: 500;
  line-height: 16px;
}
.content-item5 {
  color: var(--grey-color);
  font-weight: 500;
  line-height: 16px;
}
.portfolio-filter-button {
  background: rgb(33, 150, 243);
  color: var(--white-color);
  font-weight: 500;
  line-height: 26px;
}
.filter-button {
  color: var(--next-blak-color);
  background: rgb(245, 244, 250);
  font-weight: 500;
  line-height: 26px;
}
.portfolio-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 31px;
}
.portfolio-list-title {
  color: var(--next-blak-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
.portfolio-list-text {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.footer-Studio {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.hero {
  margin-bottom: 94px;
}
.advantages {
  margin-bottom: 118px;
}
.developments {
  margin-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px dotted orangered;
}
.hero {
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
}
.header-nav-link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--blue-color);
}
.header-contact-link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--blue-color);
}
.filter-button:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.hero-title {
  margin-bottom: 30px;
}
.advantages-item-title {
  margin-bottom: 10px;
}
.header-Studio {
  margin-right: 93px;
}
.developments-title {
  margin-bottom: 50px;
}
.ourteam-title {
  margin-bottom: 50px;
}
.portfolio-title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio {
  padding-top: 94px;
}
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 80px;
}
.portfolio-list-item:is(:hover, :focus) {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-list-item {
  border: 1px solid rgb(238, 238, 238);
}
.filter-button {
  border: none;
  background-color: rgb(245, 244, 250);
  padding: 6px 25px;
  border-radius: 4px;
}
.footer {
  padding-top: 60px;
}
.footer-Studio {
  padding-bottom: 20px;
}
.ourteam-title {
  padding-top: 94px;
}
.footer-contact-link {
  color: var(--address-color);
}
.flex-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  height: 404px;
}
.portfolio {
  margin-bottom: 94px;
}
.advantages-item-title {
  padding-top: 30px;
}
.signature {
  background-color: var(--white-color);
}
.ourteam-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.signature-title {
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
}
.signature-text {
  padding-bottom: 30px;
}
.before-item {
  border-radius: 4px;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/workдз17.jpg);
}
.portfolio-list-title {
  padding-left: 24px;
}
.portfolio-list-text {
  padding-left: 24px;
}
.social-icon {
  fill: var(--grey-regular-customers-color);
  width: 20px;
  height: 20px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.team-social-item {
  border-radius: 50px;
  width: 44px;
  height: 44px;
}
.team-social-item:is(:hover, :focus) {
  background-color: var(--blue-color);
  border-radius: 50px;
}
.team-social-item:is(:hover, :focus) .social-icon {
  fill: var(--white-color);
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* regular-customers */
.regular-customers-container {
  width: 1170px;
  height: 184px;
  margin: 0 auto;
  margin-bottom: 103px;
}
.regular-customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.regular-customers-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-regular-customers-color);
  border-radius: 3px;
}
.regular-customers-icon {
  width: 106px;
  height: 60px;
  fill: var(--grey-regular-customers-color);
}
.regular-customers-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 85px;
  padding-bottom: 50px;
}
.regular-customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.regular-customers-item:is(:hover, :focus) {
  border: 1px solid var(--blue-color);
}
.regular-customers-icon:is(:hover, :focus) {
  fill: var(--blue-color);
}
/* join in */
.join-title {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 20px;
}
.join-icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}
.join-list {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.join-item {
  background-color: var(--join-bgc);
  border-radius: 50px;
  width: 44px;
  height: 44px;
}
.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.join-link:is(:hover, :focus) {
  background-color: var(--blue-color);
  border-radius: 50px;
}
.footer-flex {
  display: flex;
}
/* heder-svg */
.contact-item::before {
  content: " ";
  /* display: block; */

  width: 16px;
  height: 12px;

  fill: var(--grey-color);
  background-image: url(../img/sprite.svg#icon-mailHeader);
  background-repeat: no-repeat;
  background-position: center;
}
.contact-item2::before {
  content: " ";
  /* display: block; */

  width: 10px;
  height: 16px;

  fill: var(--grey-color);
  background-image: url(../img/sprite.svg#icon-phoneHeader);
  background-repeat: no-repeat;
  background-position: center;
}
/* modal css */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
}
.modal {
border: 1px solid var(--grey-regular-customers-color);
}
.modal-escape-icon {
  fill: var(--blak-color);
  width: 18px;
  height: 18px;
}